#!/usr/bin/python
# -*- coding: UTF8 -*-

# Necessary for login
API_URL = "https://feddit.de"
USERNAME = "BOT NAME"
PASSWORD = "BOT PASSWORD"

# Optional configuration parameters

# Output more information to stdout
VERBOSE_MODE = True

# Seconds between each API call to avoid rate limit errors for busy bots
RATE_LIMIT_SECONDS = 0

# Determines how often 
CHECK_INTERVAL_SECONDS = 60

# Determines the maximum evaluation time that regexes are allowed to use
REGEX_TIME_LIMIT_SECONDS = 0.2
